<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MassOpenCloud - Identity Provider Selection</title>
    <style>
        h1 {
            border-bottom: black 0.1em solid;
        }
    </style>
</head>
<body>
    <h1>MassOpenCloud - Identity Provider Selection</h1>

    <form method="get" action="{{ return_to }}" id="idp_form">
        <input type="submit">
    </form>

    <select name="entityID" form="idp_form">
        {% for idp in idps %}
            <option value="{{idp.entity_id}}">{{ idp.name }}</option>
        {% endfor %}
    </select>


</body>
</html>
